<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.pasparet.tvos</string>
    <key>CFBundleExecutable</key>
    <string>PaSparetTV</string>
    <key>CFBundleName</key>
    <string>PaSparetTV</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>UIDeviceFamilyTypes</key>
    <array>
        <integer>3</integer>
    </array>
    <key>NSBonjourServices</key>
    <array>
        <string>_tripto._tcp.</string>
    </array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Tripto söker efter aktiva spelsessioner på lokalt nätverk</string>
</dict>
</plist>
